@import 'tailwindcss';

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Lora', serif; /* Updated font-family */
  color: #103736;
  line-height: 1.5;
}

button {
    background-color: #004953;
}